name: Test build

on:
  push:
    branches:
      - '*'
      - '!main'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - run: rm src/lib/data.json && wget -O src/lib/data.json https://data.prgblockweek.com/23/index.json

      - name: Build
        run: npm run build